doctype
html
    head
        title Magic Cart
        link(rel='stylesheet', href='/styles/app.styles.css')
    body
        main
            section#app
        script(type='text/javascript', src='/scripts/app.bundle.js')